div.panel.panel-default
    div.panel-heading 
        h3 Items
    div.panel-body
        button.btn.btn-default.btn-sm(type='button', onClick="javascript:location.reload()") 
            span.glyphicon.glyphicon-refresh Refresh
        div.panel.panel-default
            div.panel-body
                if items
                    table.table
                        thead
                            tr
                                th ID
                                th Title
                        tbody
                            each item in items
                                tr 
                                    td #{item.id}
                                    td #{item.title}
                                                                                      